{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page Entry.
{% endblock %}

{% block body %}

<h1>Create New Page</h1>
<form action="{% url 'createNewPage' %}" method = "POST">
    {% csrf_token %}
    <textarea name="Ntitle" style=" height: 30px;" placeholder="TITLE">{{ vTitle }}</textarea>
    <p style="color: red;">{{ errorMessage }}</p>
    <textarea name="Ncontent" cols="30" rows="5" placeholder="Write Your Contents here in Markdown Language...">{{ vContent }}</textarea>
    
    <div style="text-align: justify;"><input style="background-color: rgb(59, 77, 235); color: white;" type="submit" value="Save"></div>
</form>
{% endblock %}

{% block nav %}
<div >
    <h2>Help</h2>
    <p>Help for Writing Content In Markdown Language. </p>
</div>
    
<div>
     <b>#</b>The largest heading.
<br> <b>##</b>The second largest heading.
<br> <b>**</b>This is bold text<b>**</b>
<br> <b>*</b>This text is italicized<b>*</b>
<br> To Link <b>[Link Name](url)</b> 
<br><a href="https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/basic-writing-and-formatting-syntax" target="_blank" >More Help</a>
</div>
    
   
    
       


{% endblock %}